.Project{
  width: 45%;
  padding: 0;
  margin: 2%;
  box-shadow: 5px 5px 5px gray;
  display: flex;
  flex-direction: column;
  background-color: #5C0318;
  color: #FFFFCC;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Project img{
  width: 100%;
  overflow: hidden;
}
.Project-links{
  margin: -1em 0 1em 0;
  display: flex;
  justify-content: space-evenly;
}
.Project h3{
  text-align: center;
  font-size: 2em;
}
.Project a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .Project {
    width: 100%;
  }
}
@media only screen and (max-width: 520px) {
  .Project h3{
    text-align: center;
    font-size: 1em;
  }
}